*{
    padding: 0;
    margin: 0;}

  .coluna {
      display: flex;
      background-color: #000000;
      word-spacing: 1px;
      font-style: normal;
      align-items: center;
      font-size: small;
      justify-content: space-between;
      gap: 10;
    }
  
    a {
      text-decoration: none;
      color: #ffffff;
  }
  
  body {
      /* background-image: url(./fundo.png);
      background-repeat: no-repeat;
      background-size: cover; */
      background-color: #94756c;
  }
  
  
  .logo {
      width: 160px;
      position: fixed;
      top: 470px;
      z-index: -1;
      opacity: .8;
  }
  
  .logo img {
      width: 100%;
  }

  .top2 {
    display: flex;
    margin: 50px;
    gap: 50px;
    align-items: center;
  }

h2 {
    color: white;
}

p {
    color: white;
}

.top3 {
    display: flex;
    margin: 20px;
    gap: 30px;
    align-items: center;
}

.grid {
   display: grid;
   font-family: Arial, Helvetica, sans-serif;
   grid-template-columns: repeat(8,1fr);
   grid-template-rows: repeat(5, 1fr);
   max-height: 99vh;
}

.texto1 {
  grid-row: 2/5;
  grid-column: 3/6;
  margin-left: -20px;
}

.texto2 {
  grid-row: 3/5;
  grid-column: 3/6;
  font-size: 18px;
  margin-left: -20px;
}

.img {
  grid-row: 1/5;
  grid-column: 7/8;
}

.texto2 p {
  color: black;
}

#img1 {
  background-image: url(./petshopimg/cantopet.png);
  opacity: 0.7;
}

#img2 {
  background-image: url(./petshopimg/recepcao.png);
}

#img3 {
  background-image: url(./petshopimg/psicologo.png);
}

#img1, #img2, #img3 {
width: 500px;
height: 500px;
color: white;
align-items: bottom;
text-align: center;
gap: 10px;
display: flex;
flex-direction: column;
Justify-content: end;
margin-left:10px;
padding-bottom: 30px;
background-size: cover;
margin-bottom: 100px;
}

.formiga {
  font-size: 2em;
  margin-left: 50px;
}

#serv1, #serv2, #serv3 {
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.top3 img {
  height: 300px;
  gap: 1px;
}
.top3 p {
  color: black;
  margin-top: 10px;
  margin-bottom: 100px;
}

.joao {
  Margin-left: 2em;
}

 h3 {
 margin-top: 10px;
}

.top4 {
  display: flex;
  gap: 100px;
  margin-left: 20px;
}

#text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
}

#imagens {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

#pao1, #pao2, #pao3 {
  display: flex;
  flex-direction: column;
}

#pao1 img, #pao2 img, #pao3 img {
  width: 280px;
  height: 350px;
  margin-bottom: 30px;
}

#pao1 h2, #pao2 h2, #pao3 h2 {
  color: black;
}

#pao1 p, #pao2 p, #pao3 p {
  color: black;
  margin-top: 10px;
}

button {
  color: white;
  background-color: rgb(4, 107, 107);
  margin-left: 30px;
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  margin-top: 20px;
}

.top5 {
  display: flex;
  gap: 150px;
  margin-bottom: 200px;
}

h3 {
  color: white;
}

.saiba {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.about {
  margin-bottom: 150px;
  width: 450px;
  font-size: 40px;
  margin-top: 100px;
}

.top3 h3 {
  color: black;
}

.kauany {
  margin-left: 30px;
}

.social {
  background-color: #000000;
  display: flex;
  gap: 10px;
  color: white;
  word-spacing: 10px;
  gap: 250px;
  padding: 20px;
  align-items: center;
}

#nome {
 margin-left: 40px; 
}

#top2 {
  justify-content: center;
  font-size: 50px;
  display: flex;
  gap: 400px;
}